@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: lightblue;
    width: 80%;
    font-family: Quicksand;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h4 {
    font-size: 20px;
    text-align: center;
}

a, p {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: white;
}

a:active {
    color: red;
}

a:visited {
    color: black;
}

table, th, td{
    border: 1px solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-radius: 15px;
    padding: 5px;
}

th, td {
    padding: 5px;
}

input {
    font-family: Quicksand;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

input[type=submit] {
    background-color: lightgrey;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: skyblue;
    font-weight: 600;
}

/* HOME PAGE */
#airplane {
    margin-left: auto;
}


.logins {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "customer staff";
    gap: 50px;
}

#customer, #staff {
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 10%;
}

#guest {
    text-align: center;
    margin: 50px;
}

/* GUEST PAGE */

.search-flights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one-way-section round-trip-section";
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 20px;
}

.one-way-section, .round-trip-section{
    border: 1px solid black;
    border-radius: 15px;
}

.one-way-filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leaving-from going-to";
    justify-items: center;
}

.round-trip-filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leaving-from going-to";
    justify-items: center;
}

.leaving-from {
    justify-self: end;
    padding-right: 20px;
}

.going-to {
    justify-self: start;
    padding-left: 20px;
}

/* CUSTOMER/STAFF LOGIN */
.login-credentials {
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
}

.login-button {
    margin-left: -27%;
}

/* CUSTOMER HOMEPAGE */

.customer-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "add-phone-nums cancel-flights";
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

#add-phone-nums, #cancel-flights {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 40px;
}

#customer-links {
    padding-top: 50px;
    text-align: center;
}
.space {
    margin: 30px;
}

/* FLIGHT SEARCH */
.flights-ahead, .return-flights {
    margin-bottom: 20px;
}

/* spendings page */
#spendings-container {
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

#spending-filter {
    padding-top: 30px;
    text-align: center;
}