@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: lightblue;
    width: 80%;
    font-family: Quicksand;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

a, p {
    font-size: 20px;
    text-decoration: none;
}


/* HOME PAGE */
#airplane {
    margin-left: auto;
}

#homepage a:hover{
    background-color: white;

}

.logins {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "customer staff";
    gap: 50px;
}

#customer, #staff {
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 10%;
}

#guest {
    text-align: center;
    margin: 50px;
}

/* GUEST PAGE */

.search-flights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one-way-section round-trip-section";
    justify-content: space-between;
    gap: 50px;
}

.one-way-section, .round-trip-section{
    border: 1px solid black;
    border-radius: 15px;
}

.one-way-filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leaving-from going-to";
    justify-items: center;
}

.round-trip-filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leaving-from going-to";
    justify-items: center;
}

.leaving-from {
    justify-self: end;
    padding-right: 20px;
}

.going-to {
    justify-self: start;
    padding-left: 20px;
}