<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>You Are Booking</h1>
    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}

    </style>
{% if flight %}
<table>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Departure Airport</th>
    <th>Departure City</th>
    <th>Arrival Date</th>
    <th>Arrival Time</th>
    <th>Arrival Airport</th>
    <th>Arrival City</th>
    <th>Status</th>

    {% for line in flight %}
    <tr>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_num']}}</td>
        <td>{{line['departure_date']}}</td>
        <td>{{line['departure_time']}}</td>
        <td>{{line['departure_airport']}}</td>
        <td>{{line['departure_city']}}</td>
        <td>{{line['arrival_date']}}</td>
        <td>{{line['arrival_time']}}</td>
        <td>{{line['arrival_airport']}}</td>
        <td>{{line['arrival_city']}}</td>
        <td>{{line['status']}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</head>
<body>
<form action="/purchase" method="POST">
    <h2>Passenger Information</h2>
    <input type="text" name="first" placeholder="First Name" required/></br>
    <input type="text" name="last" placeholder="Last Name" required/></br>
    <label>birthday:<input type="date" name="birthday" required/></label></br>
    <h2>Card Information</h2>
    <label><input type="radio" name="type" value="Credit" required/> credit </label></br>
    <label><input type="radio" name="type" value="Debit" required/>debit </label></br>
    <input type="text" name="card_name" placeholder="Cardholder Name" required/></br>
    <input type="text" name="card_num" placeholder="Card Number" required/></br>
    <label>Expiration Date:<input type="date" name="expiration" placeholder="Departure Date" required/></label></br>
    <input type="submit" value="Book"/><br>
    {% if flight_error %}
    <div class="error"><strong>Error:</strong> {{flight_error}}</div>
    {% endif %}
</form>
<a id="back-button" href="flight_search">Go Back</a><br>
</body>
</html>