<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="static\styles.css"/>
        <title>Purchase Flights</title>
    </head>

    <body>
        <div>
			<h1>
				<img id="cloud1" src="static\cloud.jpg" width="200px">
				Welcome {{username}}!
				<img id="airplane" src="static\airplane.png" width="200px">
			</h1>
		</div>
        
        {% if flight %}
        <table>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Departure Airport</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Arrival Airport</th>
            <th>Status</th>

            <tr>
                <td>{{flight['airline_name']}}</td>
                <td>{{flight['flight_num']}}</td>
                <td>{{flight['departure_date']}}</td>
                <td>{{flight['departure_time']}}</td>
                <td>{{flight['departure_airport']}}</td>
                <td>{{flight['arrival_date']}}</td>
                <td>{{flight['arrival_time']}}</td>
                <td>{{flight['arrival_airport']}}</td>
                <td>{{flight['status']}}</td>
            </tr>
        </table>
        {% endif %}

        <h2>Purchase Flight</h2>
        <form action="/purchase_flight" method="POST">
            <div id="purchase-fields">
                <h2>Passenger Information</h2>
                <input type="text" name="first" placeholder="First Name" required/>
                <input type="text" name="last" placeholder="Last Name" required/>
                Date of Birth: <input type="date" name="birthday" required/></br>
                <h2>Card Information</h2>
                <label><input type="radio" name="type" value="Credit" required/> credit </label>
                <label><input type="radio" name="type" value="Debit" required/>debit </label></br>
                <input type="text" name="card_name" placeholder="Cardholder Name" required/>
                <input type="text" name="card_num" placeholder="Card Number" required/>
                <label>Expiration Date:<input type="date" name="expiration" placeholder="Departure Date" required/></label></br>
                <input type="submit" value="Book"/><br>
                {% if flight_error %}
                <div class="error"><strong>Error:</strong> {{flight_error}}</div>
                {% endif %}
            </div>
        </form>


        <div><a id="back-button" href="flight_search">Go Back</a></div>

    </body>
</html>