<html>
<head>
</head>
<body>
<form action="/cust_registerAuth" method="POST">
    <input type="text" name="username" placeholder="email" required/> </br>
    <input type="password" name="password" placeholder="password" required/></br>
    <input type="text" name="first_name" placeholder="First Name" required/> </br>
    <input type="text" name="last_name" placeholder="Last Name" required/> </br>
    <input type="text" name="building_num" placeholder="Building Number" required/> </br>
    <input type="text" name="street" placeholder="Street" required/> </br>
    <input type="text" name="apartment_num" placeholder="Apartment Number" required/> </br>
    <input type="text" name="city" placeholder="City" required/> </br>
    <input type="text" name="state" placeholder="State" required/> </br>
    <input type="text" name="zip_code" placeholder="Zip Code" required/> </br>
    <input type="text" name="primary_phone_number" placeholder="Primary Phone Number" required/> </br>
    <input type="text" name="passport_number" placeholder="Passport Number" required/> </br>
    <input type="date" name="passport_expiration_date" placeholder="Passport Expiration Date" required/> </br>
    <input type="text" name="passport_country" placeholder="Passport Country" required/> </br>
    <input type="date" name="date_of_birth" placeholder="Date of Birth" required/> </br>
    <input type="submit" value=Register/>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
