<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="static\styles.css"/>
        <title>Edit Flights</title>
    </head>

    <body>
        <div>
            <h1>
                <img id="cloud1" src="static\cloud.jpg" width="200px">
                Welcome {{username}}!
                <img id="airplane" src="static\airplane.png" width="200px">
            </h1>
        </div>
    
        <h2>The Average Rating of This Flight is {{average_rating}}/5</h2>

        <table>
            <th>Comments</th>
            <th>Ratings</th>
            {% for line in comments %}
            <tr>
                <td>{{line['comment']}}</td>
                <td>{{line['rating']}}</td>
            </tr>
            {% endfor %}
        </table>

        <a id="back-button" href="staff_home">Go Back</a>

    </body>
</html>