<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="static\styles.css"/>
        <title>My Spendings</title>
    </head>

    <body>
        <div>
			<h1>
				<img id="cloud1" src="static\cloud.jpg" width="200px">
				My Spendings
				<img id="airplane" src="static\airplane.png" width="200px">
			</h1>
		</div>

        <div id="spendings-container">
            <h2>Total Spendings:</h2>
            {% if specific %}
                <h2>You spent a total of {{total_spending}}$ between<br>{{start}} and {{end}}</h2>
                
            {% else %}
                <h2>You spent a total of {{total_spending}}$ in the last 6 months</h2>
            {% endif %}
            <h3>Monthly Breakdown:</h3>
            
            <table>
                <th>Month</th>
                <th>Dollars Spent</th>
            
                {% for line in monthly %}
                <tr>
                    <td>{{line['month']}}</td>
                    <td>{{line['month_spending']}}</td>
                </tr>
                {% endfor %}
            </table>

            <div id="spending-filter">
                <form action="/specific_spending" method="POST">
                    Start Date: <input type="date" name="start" required>
                    End Date: <input type="date" name="end" required>
                    <input type="submit" value="View Expenses"/>

                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                    {% endif %}
                    
                </form>
            </div>
        </div>
        
        <a id="back-button" href="customer_home">Go Back</a><br>
    <body>
</html>
