<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="static\styles.css"/>
        <title>Staff Register</title>
    </head>

    <body>
        <div>
			<h1>
				<img id="cloud1" src="static\cloud.jpg" width="200px">
				Staff Register
				<img id="airplane" src="static\airplane.png" width="200px">
			</h1>
		</div>

        <form action="/staffRegisterAuth" method="POST">
            <input type="text" name="username" placeholder="Username" required/></br>
            <input type="password" name="password" placeholder="Password" required/></br>
            <input type="text" name="primary_email" placeholder="Primary Email" required/> </br>
            <input type="text" name="first_name" placeholder="First Name" required/></br>
            <input type="text" name="last_name" placeholder="Last Name" required/></br>
            <input type="date" name="date_of_birth" placeholder="Date of Birth" required/></br>
            <input type="text" name="airline_name" placeholder="Airline Name" required/></br>
            <input type="submit" value ="Register"/>

            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </form>
        
        <a id="back-button" href="/">Go Back</a><br>
    </body>
</html>