<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>New Airplane</h1>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<form action="new_airport" method="post">
	<label for="code">Code:</label>
	<input type="text" id="code" name="code" placeholder="Enter code">
	
	<br>

	<label for="name">Name:</label>
	<input type="text" id="name" name="name" placeholder="Enter name">
	<br>

	<label for="city">City:</label>
	<input type="text" id="city" name="city" placeholder="Enter city">
	<br>

	<label for="num_terminals">Number of Termnals:</label>
	<input type="text" id="num_terminals" name="num_terminals" placeholder="Enter number of terminals">
	<br>

	<label for="type">Type:</label>
	<input type="text" id="type" name="type" placeholder="Enter type">
	<br>
	
	<button type="submit">Submit</button>
</form>

</body>
</html>