<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="static\styles.css"/>
        <title>Staff Login</title>
    </head>

    <body>
        <div>
			<h1>
				<img id="cloud1" src="static\cloud.jpg" width="200px">
				Staff Login
				<img id="airplane" src="static\airplane.png" width="200px">
			</h1>
		</div>

        <form action="/staffLoginAuth" method="POST">
            <div class="login-credentials">
                <input type="text" name ="username" placeholder="Username" required/></br>
                <input type="password" name ="password" placeholder="Password" required/></br>
                <br>
                <input class="login-button" type="submit" value ="Login"/>
            </div>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
        </form>

        <a id="back-button" href="/">Go Back</a><br>
    </body>
</html>
